<table #subFieldTbody id="subField" style="table-layout: fixed">
  <tbody>
		<tr>
				<th class="panel center" colspan="6"><label class="bold">{{ 'subfield' | translate }}</label></th>
		</tr>
		<tr>
				<td id="layout_td" colspan="6" class="mapType">
					<div id="layout_chart2" #layoutChart style="z-index:1;position: relative;">
						<span *ngFor="let item of rectList; let i = index" [attr.data-index]="i" [ngStyle]="item.style">
							<!-- <span *ngFor="let item of rectList" [ngStyle]="item.style"> -->
							<svg [attr.width]="item.style.width" [attr.height]="item.style.height" class="drag_obj">
								<!-- <g><rect width="300" height="50" style="fill:rgb(0,0,255)" x="0" y="0" /></g> -->
								<g>
									<rect [ngStyle]="item.svgStyle" stroke-width="1.5" x="0" y="0" />
								</g>
								<text x="50%" y="50%" fill="red" [attr.font-size]="item.style.fs" style="font-weight:800;" dominant-baseline="middle" text-anchor="middle">{{i+1}}</text>
							</svg>
							<!-- <svg width="400" height="110" class="drag_obj">
								<rect width="300" height="100" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
							</svg> -->
							<!-- <svg class="drag_obj" 
							[attr.width]="item.style.width" 
							[attr.height]="item.style.height" 
							xmlns="http://www.w3.org/2000/svg">
								<g><rect [ngStyle]="item.svgStyle" stroke-width="1.5" x="0" y="0" /></g>
							</svg> -->
						</span>
					</div>
				</td>
		</tr>
		<tr>
				<th>{{ 'subfield.num' | translate }}</th>
				<th>{{ 'subfield.xy' | translate }}</th>
				<th>{{ 'subfield.width.height' | translate }}</th>
				<!-- <th>{{ 'subfield.area' | translate }}</th> -->
				<th>{{ 'subfield.coverage' | translate }}</th>
				<th>{{ 'subfield.quality' | translate }}</th>
				<th>{{ 'subfield.strength' | translate }}</th>
				<!-- <th>{{ 'subfield.dltpt' | translate }}</th> -->
				<!-- <th>{{ 'subfield.ultpt' | translate }}</th> -->
		</tr>
		<tr *ngFor="let item of subFieldList; let i = index" [attr.data-index]="i">
			<td class="choose"  *ngIf="zNumber == 1">{{ i/2+1 }}</td>
			<td class="choose"  *ngIf="zNumber == 1">{{ item.x }}/{{ item.y }}</td>
			<td class="choose" rowspan="2" *ngIf="i%2 == 0 && zNumber == 2">{{ i/2+1 }}</td>
			<td class="choose" rowspan="2" *ngIf="i%2 == 0 && zNumber == 2">{{ item.x }}/{{ item.y }}</td>
			<td class="choose" rowspan="3" *ngIf="i%3 == 0 && zNumber == 3">{{ i/2+1 }}</td>
			<td class="choose" rowspan="3" *ngIf="i%3 == 0 && zNumber == 3">{{ item.x }}/{{ item.y }}</td>
			<td class="choose">{{ item.width }}/{{item.height}}/{{ item.z }} {{ 'meter' | translate }}</td>
			<!-- <td class="choose">{{ item.area }}</td> -->
			<td class="choose">{{ item.coverage }}%</td>
			<td class="choose">{{ item.quality }}dB</td>
			<td class="choose">{{ item.rsrp }}dBm</td>
			<!-- <td class="choose">{{ item.dltpt }}Mbps</td>0 -->
			<!-- <td class="choose">{{ item.ultpt }}Mbps</td> -->
				<!-- <td class="choose"><label>{{ item[0] }}</label></td>
				<td class="choose">{{ item[1] }}</td>
				<td class="choose">{{ item[2] }}</td>
				<td class="choose">{{ item[3] }}</td> -->
		</tr>
	</tbody>	
</table>
