<div id="site_info">
  <h5><i class="fas fa-info-circle"></i>{{ 'result.layered.info' | translate }}</h5>
  <ul>
    <li>
      <span><label>{{ 'taskName' | translate }}</label>{{ calculateForm['taskName'] }}</span>
      <span><label>{{ 'createTime' | translate }}</label>{{ calculateForm['createTime'] }}</span>
    </li>
    <li>
      <span><label>{{ 'planning.size' | translate }}({{ 'meter' | translate }})</label>{{ 'width' | translate }} {{ calculateForm.width }} / {{ 'height' | translate }} {{ calculateForm.height }} ／{{ 'result.pdf.altitude' | translate }} {{ calculateForm['altitude'] }} </span>
      <span><label>{{ 'zValue' | translate }}</label>{{ calculateForm.zValue }} {{ 'meter' | translate }}</span>
    </li>
    <li>
      <span><label>{{ 'maxConnectionNum' | translate }}</label>{{ calculateForm['maxConnectionNum'] }}</span>
    </li>
    <li>
      <span><label>{{ 'resolution' | translate }}</label>{{ calculateForm['resolution'] }} x {{ calculateForm['resolution'] }} ( {{ 'meter' | translate }} )</span>
    </li>
    <li>
      <span *ngIf="this.inputBsListCount !== 0">
        <label>{{ 'planning.target' | translate }}</label>
        <div *ngIf="calculateForm.isCoverage">{{ 'isCoverage' | translate }}</div>
        <div *ngIf="calculateForm.isSINR">{{ 'isSINR' | translate }}</div>
        <div *ngFor="let setting of calculateForm.SINRSettingList; let i=index">
          {{i+1}}. {{ 'FieldArea' | translate }}
          {{calculateForm.SINRSettingList[i].area}}%
          {{calculateForm.SINRSettingList[i].condition | translate }}
          {{calculateForm.SINRSettingList[i].sinr}}dB
        </div>
        <div *ngIf="calculateForm.isRSRP">{{ 'isRSRP' | translate }}</div>
        <div *ngFor="let setting of calculateForm.RSRPSettingList; let i=index">
          {{i+1}}. {{ 'FieldArea' | translate }}
          {{calculateForm.RSRPSettingList[i].area}}%
          {{calculateForm.RSRPSettingList[i].condition | translate }}
          {{calculateForm.RSRPSettingList[i].rsrp}}dB
        </div>
        <div *ngIf="calculateForm.isThroughput">{{ 'isThroughput' | translate }}</div>
        <div *ngFor="let setting of calculateForm.ThroughputSettingList; let i=index">
          {{i+1}}. {{ 'FieldArea' | translate }}
          {{calculateForm.ThroughputSettingList[i].area}}% UL 
          {{calculateForm.ThroughputSettingList[i].ULCondition | translate }}
          {{calculateForm.ThroughputSettingList[i].ULThroughput}}Mbps;&ensp;&ensp;
          DL 
          {{calculateForm.ThroughputSettingList[i].DLCondition | translate }}
          {{calculateForm.ThroughputSettingList[i].DLThroughput}}Mbps
        </div>
        <div *ngIf="calculateForm.isUeAvgThroughput">{{ 'isUeAvgThroughput' | translate }}</div>
        <div *ngFor="let setting of calculateForm.UEThroughputSettingList; let i=index">
          {{i+1}}. {{ 'ue' | translate }}
          {{calculateForm.UEThroughputSettingList[i].area}}% UL 
          {{calculateForm.UEThroughputSettingList[i].ULCondition | translate }}
          {{calculateForm.UEThroughputSettingList[i].ULThroughput}}Mbps;&ensp;&ensp;
          DL 
          {{calculateForm.UEThroughputSettingList[i].DLCondition | translate }}
          {{calculateForm.UEThroughputSettingList[i].DLThroughput}}Mbps
        </div>
        <div *ngIf="calculateForm.isUeCoverage">{{ 'isUeCoverage' | translate }}</div>
      </span>
    </li>
    
    
    <hr>
    <h5 *ngIf="calculateForm.mapProtocol != 'wifi'"><i class="fas fa-info-circle"></i>{{ 'result.bs.info' | translate }}</h5>
    <h5 *ngIf="calculateForm.mapProtocol == 'wifi'"><i class="fas fa-info-circle"></i>{{ 'result.ap.info' | translate }}</h5>
    <li>
      <span><label>{{ 'planning.net' | translate }}</label>{{ parseOB(calculateForm.objectiveIndex) }}</span>
      <span *ngIf="calculateForm.mapProtocol != 'wifi'"><label>{{ 'duplex' | translate }}</label>{{ toUpper(calculateForm.duplex) }}</span>
      <span *ngIf="this.inputBsListCount !== 0"><label>{{ 'result.propose.wait_select_1' | translate }}</label>{{ getWaitSelect() }}</span>
      <span *ngIf="this.defaultBsCount !== 0 && calculateForm.mapProtocol != 'wifi'"><label>{{ 'defaultBs' | translate }}</label>{{ getBsCount() }}</span>
      <span *ngIf="this.defaultBsCount !== 0 && calculateForm.mapProtocol == 'wifi'"><label>{{ 'result.propose.defaultAp' | translate }}</label>{{ getBsCount() }}</span>
      <span *ngIf="this.inputBsListCount !== 0"><label>{{ 'result.dbm.range' | translate }}</label>	{{ calculateForm.powerMinRange }} dBm ~ {{ calculateForm.powerMaxRange }} dBm</span>
      <!-- <span *ngIf="this.inputBsListCount !== 0"><label>{{ 'result.beam.range' | translate }}</label>0 ~ 0</span> -->
      <!-- <span *ngIf="this.inputBsListCount !== 0"><label>{{ 'bandwidth' | translate }}(MHz)</label>	{{ calculateForm.bandwidth }} MHz</span> -->
      <!-- <span *ngIf="this.inputBsListCount !== 0"><label>{{ 'frequency' | translate }}(MHz)</label>	{{ calculateForm.frequency }} MHz</span> -->
    </li>
  </ul>
</div>
