<div id="site_info">
  <h5><i class="fas fa-info-circle"></i>{{ 'result.layered.info' | translate }}</h5>
  <ul>
    <li>
      <span><label>{{ 'taskName' | translate }}</label>{{ calculateForm['taskName'] }}</span>
      <span><label>{{ 'createTime' | translate }}</label>{{ calculateForm['createTime'] }}</span>
    </li>
    <li>
      <span><label>{{ 'planning.size' | translate }}({{ 'meter' | translate }})</label>{{ 'width' | translate }} {{ calculateForm.width }} / {{ 'height' | translate }} {{ calculateForm.height }} ／{{ 'result.pdf.altitude' | translate }} {{ calculateForm['altitude'] }} </span>
      <span><label>{{ 'zValue' | translate }}</label>{{ calculateForm.zValue }} {{ 'meter' | translate }}</span>
    </li>
    <li>
      <span><label>{{ 'maxConnectionNum' | translate }}</label>{{ calculateForm['maxConnectionNum'] }}</span>
    </li>
    <li>
      <span><label>{{ 'resolution' | translate }}</label>{{ calculateForm['resolution'] }} x {{ calculateForm['resolution'] }} ( {{ 'meter' | translate }} )</span>
    </li>
    <li>
      <span *ngIf="this.inputBsListCount !== 0">
        <label>{{ 'planning.target' | translate }}</label>
        <div *ngIf="calculateForm.evaluationFunc.field.coverage.activate">
          {{ 'isCoverage' | translate }}
          <font color="red" *ngIf="unAchievedObj.isFieldCoverageUnAchieved">{{ 'unachieved' | translate }}</font>
          <font color="green" *ngIf="!unAchievedObj.isFieldCoverageUnAchieved">{{ 'achieved' | translate }}</font>
          <div style="padding-left:0.5em;" >
            {{ 'setCondition' | translate }} :   {{ 'subfield.coverage' | translate }} {{ 'moreThan' | translate }} 
            {{calculateForm.evaluationFunc.field.coverage.ratio * 100}}% <br />
            {{ 'realCondition' | translate }} :   {{ 'subfield.coverage' | translate }} {{ 'moreThan' | translate }} 
            {{realFieldCoverage.toFixed(4) * 100}}% 
          </div>
        </div>
        <div *ngIf="calculateForm.evaluationFunc.field.sinr.activate">
          {{ 'isSINR' | translate }}
          <font color="red" *ngIf="unAchievedObj.isFieldSINRUnAchieved">{{ 'unachieved' | translate }}</font>
          <font color="green" *ngIf="!unAchievedObj.isFieldSINRUnAchieved">{{ 'achieved' | translate }}</font>
          <div style="padding-left:0.5em;" *ngFor="let setting of calculateForm.evaluationFunc.field.sinr.ratio; let i=index">
            {{ 'setCondition' | translate }}{{i+1}}. {{ 'FieldArea' | translate }}
            {{calculateForm.evaluationFunc.field.sinr.ratio[i].areaRatio * 100}}%
            {{calculateForm.evaluationFunc.field.sinr.ratio[i].compliance | translate }}
            {{calculateForm.evaluationFunc.field.sinr.ratio[i].value}}dB <br />
            {{ 'realCondition' | translate }}{{i+1}}. {{ 'FieldArea' | translate }}
            {{realFieldSINR[i].toFixed(4) * 100}}%
            {{calculateForm.evaluationFunc.field.sinr.ratio[i].compliance | translate }}
            {{calculateForm.evaluationFunc.field.sinr.ratio[i].value}}dB 
          </div>
		    </div>
        <div *ngIf="calculateForm.evaluationFunc.field.rsrp.activate">{{ 'isRSRP' | translate }}
          <font color="red" *ngIf="unAchievedObj.isFieldRSRPUnAchieved">{{ 'unachieved' | translate }}</font>
          <font color="green" *ngIf="!unAchievedObj.isFieldRSRPUnAchieved">{{ 'achieved' | translate }}</font>
          <div style="padding-left:0.5em;" *ngFor="let setting of calculateForm.evaluationFunc.field.rsrp.ratio; let i=index">
            {{ 'setCondition' | translate }}{{i+1}}. {{ 'FieldArea' | translate }}
            {{calculateForm.evaluationFunc.field.rsrp.ratio[i].areaRatio * 100}}%
            {{calculateForm.evaluationFunc.field.rsrp.ratio[i].compliance | translate }}
            {{calculateForm.evaluationFunc.field.rsrp.ratio[i].value}}dB <br />
            {{ 'realCondition' | translate }}{{i+1}}. {{ 'FieldArea' | translate }}
            {{realFieldRSRP[i].toFixed(4) * 100}}%
            {{calculateForm.evaluationFunc.field.rsrp.ratio[i].compliance | translate }}
            {{calculateForm.evaluationFunc.field.rsrp.ratio[i].value}}dB 
          </div>
		    </div>
        <div *ngIf="calculateForm.evaluationFunc.field.throughput.activate">{{ 'isThroughput' | translate }}
          <font color="red" *ngIf="unAchievedObj.isFieldThroughputUnAchieved">{{ 'unachieved' | translate }}</font>
          <font color="green" *ngIf="!unAchievedObj.isFieldThroughputUnAchieved">{{ 'achieved' | translate }}</font>
          <div style="padding-left:0.5em;" *ngFor="let setting of calculateForm.evaluationFunc.field.throughput.ratio; let i=index">
            <div>
              {{ 'setCondition' | translate }}{{i+1}}. {{ 'FieldArea' | translate }}
              {{calculateForm.evaluationFunc.field.throughput.ratio[i].areaRatio * 100}}% UL 
              {{calculateForm.evaluationFunc.field.throughput.ratio[i].compliance | translate }}
              {{calculateForm.evaluationFunc.field.throughput.ratio[i].ULValue}}Mbps  
            </div>         
            <div style="padding-left:5.5em;" >
              {{ 'FieldArea' | translate }}
              {{calculateForm.evaluationFunc.field.throughput.ratio[i].areaRatio * 100}}% DL 
              {{calculateForm.evaluationFunc.field.throughput.ratio[i].compliance | translate }}
              {{calculateForm.evaluationFunc.field.throughput.ratio[i].DLValue}}Mbps
            </div>         
            <div>
              {{ 'realCondition' | translate }}{{i+1}}. {{ 'FieldArea' | translate }}
              {{realFieldULThroughput[i].toFixed(4) * 100}}% UL 
              {{calculateForm.evaluationFunc.field.throughput.ratio[i].compliance | translate }}
              {{calculateForm.evaluationFunc.field.throughput.ratio[i].ULValue}}Mbps 
            </div>  
            <div style="padding-left:5.5em;" >       
              {{ 'FieldArea' | translate }}
              {{realFieldDLThroughput[i].toFixed(4) * 100}}% DL 
              {{calculateForm.evaluationFunc.field.throughput.ratio[i].compliance | translate }}
              {{calculateForm.evaluationFunc.field.throughput.ratio[i].DLValue}}Mbps
            </div>         
          </div>
		    </div>
        <div *ngIf="calculateForm.evaluationFunc.ue.throughputByRsrp.activate">{{ 'isUeAvgThroughput' | translate }}
          <font color="red" *ngIf="unAchievedObj.isUEThroughputByRsrpUnAchieved">{{ 'unachieved' | translate }}</font>
          <font color="green" *ngIf="!unAchievedObj.isUEThroughputByRsrpUnAchieved">{{ 'achieved' | translate }}</font>
          <div style="padding-left:0.5em;" *ngFor="let setting of calculateForm.evaluationFunc.ue.throughputByRsrp.ratio; let i=index">
            <div>              
              {{ 'setCondition' | translate }}{{i+1}}. {{ 'ue' | translate }}
              {{calculateForm.evaluationFunc.ue.throughputByRsrp.ratio[i].countRatio * 100}}% UL 
              {{calculateForm.evaluationFunc.ue.throughputByRsrp.ratio[i].compliance | translate }}
              {{calculateForm.evaluationFunc.ue.throughputByRsrp.ratio[i].ULValue}}Mbps;
            </div>
            <div style="padding-left:5.5em;">
              {{ 'ue' | translate }}
              {{calculateForm.evaluationFunc.ue.throughputByRsrp.ratio[i].countRatio * 100}}% DL 
              {{calculateForm.evaluationFunc.ue.throughputByRsrp.ratio[i].compliance | translate }}
              {{calculateForm.evaluationFunc.ue.throughputByRsrp.ratio[i].DLValue}}Mbps
            </div>
            <div>
              {{ 'realCondition' | translate }}{{i+1}}. {{ 'ue' | translate }}
              {{realUEULThroughput[i].toFixed(4) * 100}}% UL 
              {{calculateForm.evaluationFunc.ue.throughputByRsrp.ratio[i].compliance | translate }}
              {{calculateForm.evaluationFunc.ue.throughputByRsrp.ratio[i].ULValue}}Mbps;
            </div>
            <div style="padding-left:5.5em;">
              {{ 'ue' | translate }}
              {{realUEDLThroughput[i].toFixed(4) * 100}}% DL 
              {{calculateForm.evaluationFunc.ue.throughputByRsrp.ratio[i].compliance | translate }}
              {{calculateForm.evaluationFunc.ue.throughputByRsrp.ratio[i].DLValue}}Mbps
            </div>
          </div>
        </div>
        <div *ngIf="calculateForm.evaluationFunc.ue.coverage.activate">{{ 'isUeCoverage' | translate }}
          <font color="red" *ngIf="unAchievedObj.isUECoverageUnAchieved">{{ 'unachieved' | translate }}</font>
          <font color="green" *ngIf="!unAchievedObj.isUECoverageUnAchieved">{{ 'achieved' | translate }}</font>
          <div style="padding-left:0.5em;" >
            {{ 'setCondition' | translate }} : {{ 'subfield.coverage' | translate }} {{ 'moreThan' | translate }} 
            {{calculateForm.evaluationFunc.ue.coverage.ratio * 100}}% <br />
            {{ 'realCondition' | translate }} : {{ 'subfield.coverage' | translate }} {{ 'moreThan' | translate }} 
            {{realUECoverage.toFixed(4) * 100}}%
          </div>
        </div>
      </span>
    </li>
    
    
    <hr>
    <h5 *ngIf="calculateForm.mapProtocol != 'wifi'"><i class="fas fa-info-circle"></i>{{ 'result.bs.info' | translate }}</h5>
    <h5 *ngIf="calculateForm.mapProtocol == 'wifi'"><i class="fas fa-info-circle"></i>{{ 'result.ap.info' | translate }}</h5>
    <li>
      <span><label>{{ 'planning.net' | translate }}</label>{{ parseOB(calculateForm.objectiveIndex) }}</span>
      <span *ngIf="calculateForm.mapProtocol != 'wifi'"><label>{{ 'duplex' | translate }}</label>{{ toUpper(calculateForm.duplex) }}</span>
      <span *ngIf="this.inputBsListCount !== 0"><label>{{ 'result.propose.wait_select_1' | translate }}</label>{{ getWaitSelect() }}</span>
      <span *ngIf="this.defaultBsCount !== 0 && calculateForm.mapProtocol != 'wifi'"><label>{{ 'defaultBs' | translate }}</label>{{ getBsCount() }}</span>
      <span *ngIf="this.defaultBsCount !== 0 && calculateForm.mapProtocol == 'wifi'"><label>{{ 'result.propose.defaultAp' | translate }}</label>{{ getBsCount() }}</span>
      <span *ngIf="this.inputBsListCount !== 0"><label>{{ 'result.dbm.range' | translate }}</label>	{{ calculateForm.powerMinRange }} dBm ~ {{ calculateForm.powerMaxRange }} dBm</span>
      <!-- <span *ngIf="this.inputBsListCount !== 0"><label>{{ 'result.beam.range' | translate }}</label>0 ~ 0</span> -->
      <!-- <span *ngIf="this.inputBsListCount !== 0"><label>{{ 'bandwidth' | translate }}(MHz)</label>	{{ calculateForm.bandwidth }} MHz</span> -->
      <!-- <span *ngIf="this.inputBsListCount !== 0"><label>{{ 'frequency' | translate }}(MHz)</label>	{{ calculateForm.frequency }} MHz</span> -->
    </li>
  </ul>
</div>
