<div [ngStyle]="divStyle" id="sitePlanningMap">
  <div class="site_map_chart">
    <input type="hidden" id="is_site_map" value="true">
    <img *ngIf="showImg" src="{{ imageSRC }}" alt="">

    <div class="site_map_img" [ngStyle]="style" style="z-index: -1" >
      <!-- 障礙物 -->
      <span *ngFor="let item of rectList" #obstacleElm [ngStyle]="item.style">
        <svg *ngIf="item.shape == '0'" class="drag_obj" [attr.width]="item.style.width" [attr.height]="item.style.height" #tooltip="matTooltip" matTooltip="{{ item.hover }}" xmlns="http://www.w3.org/2000/svg">
          <g><rect [ngStyle]="item.svgStyle" stroke-width="1.5" x="0" y="0" /></g>
        </svg>

        <svg *ngIf="item.shape == '1'" [ngStyle]="item.svgStyle" xmlns="http://www.w3.org/2000/svg">
          <g>
            <rect x="-1" y="-1" width="32" height="32" fill="none"/>
            <g id="canvasGrid" display="none">
              <rect width="100%" height="100%" x="0" y="0" stroke-width="0" fill="none"/>
            </g>
          </g>
          <g>
            <rect fill="#000000" stroke-width="1.5" x="111" y="151" width="41" height="28" stroke="#000"/>
            <polygon fill="#000000" [attr.points]="item.points" />
          </g>
        </svg>

        <svg *ngIf="item.shape == '2'" [attr.width]="item.style.width" [attr.height]="item.style.height" xmlns="http://www.w3.org/2000/svg">
          <g>
            <rect fill="none" id="canvas_background" height="32" width="20" y="-1" x="-1"/>
            <g display="none" id="canvasGrid">
              <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
            </g>
            </g>
            <g>
              <rect height="28" width="41" y="151" x="111" fill="none" />
            <ellipse stroke-width="1.5" [ngStyle]="item.ellipseStyle" fill="#000000"/>
          </g>
        </svg>

        <svg *ngIf="item.shape == '3'" viewBox="0 0 30 30" preserveAspectRatio="none" [attr.width]="item.style.width" [attr.height]="item.style.height" xmlns="http://www.w3.org/2000/svg">
          <g>
            <rect x="-1" y="-1" height="20" width="25" fill="none" id="canvas_background2"></rect>
            <g id="canvasGrid" display="none">
              <rect width="100%" height="100%" x="0" y="0" stroke-width="0" fill="url(#gridpattern)"></rect>
            </g>
          </g>
          <g>
            <rect fill="none" stroke-width="1.5" x="50" y="0" width="25" height="20" stroke="none"></rect>
            <path class="target" fill="#000000" stroke="null" id="svg_7" d="M8,0L0,30h30L22,0C22,0,5.3,0,8,0z"></path>
          </g>
        </svg>
      </span>
    </div>
  </div>
</div>
