<button type="button" hidden id="ngxSpinnerShow" (click)="show()"></button>
<button type="button" hidden id="ngxSpinnerHide" (click)="hide()"></button>
<button type="button" hidden id="ngxSpinnerShowAsHome" (click)="showAsHome()"></button>
<button type="button" hidden id="ngxSpinnerFinish" (click)="showFinish()"></button>
<button type="button" hidden id="ngxSpinnerShowResult" (click)="showResult()"></button>
<button type="button" hidden id="ngxSpinnerShowPdf" (click)="showpdf()"></button>
<button type="button" hidden id="ngxSpinnerUploadData" (click)="showUploadData()"></button>
<app-spinner #spinner></app-spinner>
<router-outlet></router-outlet>
